/* JUST A BASIC RESET  */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: black;
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* Navigation style */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(185, 185, 185, 0.25);
  z-index: 1000;
  align-items: center;
  column-gap: 1.5rem;
  font-size: 3.5rem;
  opacity: 75%;
  
}

.nav__item {
  width: 15rem;
  height: 5rem;
  text-align: center;
}

.nav__item input[type="text"] {
  /*float: right;*/
  padding: 3px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
}
main {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f3efa9;
}

.indexHero {
display: flex;
flex-direction: column;

}
.IndexCarousel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  text-align: center;
  padding: 50px
  
  
}

.IndexCarouselItem {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  animation-duration: 9s;
  animation-name: AllSlideShow;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.IndexCarouselItem img {
  width: auto;
  height: 500px;
  z-index: 0;
}
@keyframes AllSlideShow {
  0% {
    left: 100%;
  }
  5% {
    left: 0%;
  }
  25% {
    left: 0%;
  }
  30% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
.IndexCarouselItem:nth-child(1) {
  animation-delay: 0s;
}
.IndexCarouselItem:nth-child(2) {
  animation-delay: 3s;
}
.IndexCarouselItem:nth-child(3) {
  animation-delay: 6s;
}

.title__website {
  text-align: center;
  font-size: 5rem;
}
/* Hero */
.hero {
  text-align: center;
  font-size: 4rem;
  background: #519258;
  width: 100vb;
  /*position: absolute;*/             /*This wasn't here*/
  
}
.ContainerOfContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
  background: #f3efa9;
}
.container_chef1 {
  display: flex;
  max-height: 250px;
  flex-basis: 450px 450px 450px;
  flex-grow: 1 1 1;
  font-size: 2.5rem;
  justify-content: center;
  text-align: center;
  /*align-content: center;*/
  padding-left: 20%;
  padding-right: 20%;
  overflow: hidden;
  gap: 10%;
  /*position: relative;*/
}
.container_chef1 img {
  object-fit: contain;
  overflow: hidden;
  max-width: 250px;
}
#french_cook {
  clip-path: circle();
}
.container_chef1 p {
  align-self: center;
}
.LinkPicFrench {
  position: relative;
}
.LinkPicFrench img {
  position: absolute;
  opacity: 0.4;
}
.LinkPicFrench img:hover {
  opacity: 1;
  cursor: pointer;
}
.LinkPicFrench a {
  position: absolute;
  z-index: 1;
  font-size: 5rem;
  font-weight: bold;
  background-color: rgb(185, 185, 185, 0.65);
  object-fit: cover;
}
.LinkPicFrench a:hover {
  opacity: 0;
  /*filter: alpha(opacity=0);*/
}
.container_chef2 {
  display: flex;
  /*flex-direction: row-reverse;*/
  max-height: 250px;
  flex-basis: 450px 450px 450px;
  flex-grow: 1 1 1;
  font-size: 2.5rem;
  justify-content: center;
  text-align: center;
  /*align-content: center;*/
  padding-left: 20%;
  padding-right: 20%;
  overflow: hidden;
  gap: 10%;
}
.container_chef2 img {
  object-fit: contain;
  overflow: hidden;
  max-width: 250px;
}
#german_cook {
  clip-path: circle();
}
.container_chef2 p {
  align-self: center;
}
.LinkPicGerman {
  position: relative;
}
.LinkPicGerman img {
  position: absolute;
  opacity: 0.4;
}
.LinkPicGerman img:hover {
  opacity: 1;
  cursor: pointer;
}
.LinkPicGerman a {
  position: absolute;
  z-index: 1;
  font-size: 4rem;
  font-weight: bold;
  background-color: rgb(185, 185, 185, 0.65);
}
.LinkPicGerman a:hover {
  opacity: 0;
  /*filter: alpha(opacity=0);*/
}
.container_chef3 {
  display: flex;
  max-height: 250px;
  flex-basis: 450px 450px 450px;
  flex-grow: 1 1 1;
  font-size: 2.5rem;
  justify-content: center;
  text-align: center;
  /*align-content: center;*/
  padding-left: 20%;
  padding-right: 20%;
  overflow: hidden;
  gap: 10%;
}
.container_chef3 img {
  object-fit: contain;
  overflow: hidden;
  max-width: 250px;
}
#italian_cook {
  clip-path: circle();
}
.container_chef3 p {
  align-self: center;
}
.LinkPicItalian {
  position: relative;
}
.LinkPicItalian img {
  position: absolute;
  opacity: 0.4;
}
.LinkPicItalian img:hover {
  opacity: 1;
  cursor: pointer;
}
.LinkPicItalian a {
  position: absolute;
  z-index: 1;
  font-size: 6rem;
  font-weight: bold;
  background-color: rgb(185, 185, 185, 0.65);
}
.LinkPicItalian a:hover {
  opacity: 0;
}
  /*filter: alpha(opacity=0);*/
.modal, .modal1, .modal2 {
  display: none;
  position: fixed;
  z-index: 10000;
  padding-top: 500px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: red;
  background-color: rgba(0,0,0,0.4);
}
.modal-content, .modal1-content1, .modal2-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid red;
  width: 80%;
  font-size: 5rem;
  font-weight: bold;
}
.modal-content a, .modal1-content1 a, .modal2-content2 a {
  color: green;
  }

.close, .close1, .close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus, .close1:hover, .close1:focus, .close2:hover, .close2:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

  /* Footer style */
footer {
  /*position: relative;*/
  display: flex;
  justify-content: center;
  background-color: #064635;
  padding: 3rem;
  color: white;
}

.container__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10rem;
}

.footer__item {
  width: 10rem;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.footer__item h2 {
  font-size: 2rem;
}

.footer__item p {
  font-size: 1rem;
}

.footer_item__list li {
  font-size: 1rem;
}

.container__footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__footer__social {
  display: flex;
  column-gap: 1rem;
  font-size: 2rem;
}

.fa-brands {
  color: white;
  font-size: 3rem;
  margin: 1rem;
}

.fa-regular {
  color: white;
  font-size: 3rem;
  margin: 1rem;
}
