/* Cook presentation with title, cookpic, and also description */
* {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

body {
  background-color: white;
}

.categorie--recipeBlock h3 { 
  text-align: center;
  font-size: 60px;
  background-color:#f1bc63;
  margin-right: 180px;
  margin-top: 50px;
  margin-left: 180px;
  padding-bottom: 25px;

}


.categorie--chosenCook {
  display: flex;
  padding: 30px;
  align-content: center;
  align-items: center;
  background-color:  #064635;
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}

.categorie--h2 {
  font-size: 120px;
  text-align: center;
  padding-top: 30px;
  background-color: #519258;
}

.categorie--description {
  padding-left: 60px;
  text-align: justify;
  font-size: 30px;
}

.categorie--picChosenCook {
  width: 200px;
}

/* small boxes : recipe block*/

.categorie--container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  justify-items: center;
}

.categorie--recipeBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
/*   padding-right: 80px;
  padding-left: 80px; */
  border-radius: 10px;
  width: 80%;
  height: auto;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 70px;
  background-color: #f1bc63;
 /*  flex-basis: 1 1 1 1; 
  flex-shrink: 1 1 1 1;
  flex-grow: 1 1 1 1; */
}

.categorie--h3 {
  font-size: 35px;
  padding: 10px;
}

.categorie--comment {
  font-size: 40px;
  font-style: italic;
  width: 80%;
  height: auto;
  padding: 15px;
  text-align: center;
}

.categorie--recipePic {
  width: 600px;
  border-radius: 50%;
}

/* hovering effect on pictures */

.categorie--hoverText {
  padding: 30px;
  background-color: #f4eea9;
  border-radius: 25px;
  font-size: 20px;
/*   filter: blur(8px);
 */  position: absolute;
  top: 40%;
  left: 50%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.categorie--imageContainer:hover .categorie--hoverText {
  opacity: 1;
}

.categorie--imageContainer {
  position: relative;
}

.categorie--imageContainer:hover .categorie--recipePic {
  opacity: 1;
  filter: blur(3px);
  transform: scale(1.1);
}

.categorie--imageContainer .categorie--recipePic {
/*   filter: blur(0);
 */  transform: scale(1);
  transition: filter 1.5s ease-in-out, transform 1.5s ease-in-out;
}
