/* Cook presentation with title, cookpic, and also description */
* {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}
.categorie--chosenCook {
  display: flex;
  padding: 30px;
  align-content: center;
  align-items: center;
}

.categorie--h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}

.categorie--description {
  padding-left: 40px;
  text-align: justify;
  font-size: 20px;
}

.categorie--picChosenCook {
  width: 200px;
}

/* small boxes : recipe block*/

.categorie--container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.categorie--recipeBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  height: auto;
  margin-left: 70px;
  margin-right: 70px;
}

.categorie--h3 {
  font-size: 35px;
  padding: 10px;
}

.categorie--comment {
  font-size: 20px;
  font-style: italic;
  width: 80%;
  height: auto;
  padding: 15px;
  text-align: center;
}

.categorie--recipePic {
  width: 100%;
  border-radius: 50%;
}

/* hovering effect on pictures */

.categorie--hoverText {
  background-color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.categorie--imageContainer:hover .categorie--hoverText {
  opacity: 1;
}

.categorie--imageContainer {
  position: relative;
}

.categorie--imageContainer:hover .categorie--recipePic {
  opacity: 1;
  filter: blur(3px);
  transform: scale(1.1);
}

.categorie--imageContainer .categorie--recipePic {
  filter: blur(0);
  transform: scale(1);
  transition: filter 1.5s ease-in-out, transform 1.5s ease-in-out;
}
